PORT=3001
DATABASE_URL=postgresql://< username >:< password >@127.0.0.1:5433/< database name >
JWT_SECRET=
COOKIE_NAME=
FRONTEND_ORIGIN=
APP_VERSION=V1
SALT_ROUNDS=10
DEFAULT_lOGIN_PAYLOAD_SIZE=10  
NODE_ENV=
REDIS_URL=
MAIL_HOST=
MAIL_USER=
PASS_SECRET=
